* {
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
}

.father {
    border: 5px silver solid;
}

.header {
    height: 150px;
    border: greenyellow solid;
}

.nav {
    height: 100px;
    border: palevioletred solid;
}

.son {
    display: flex;
}

.article {
    width: 65%;
    height: 800px;
    border: dodgerblue solid;
}

.div {
    width: 35%;
    height: 800px;
    border: burlywood solid;

}

.footer {
    height: 100px;
    border: yellow solid;
}

.header_2 {
    height: 100px;
    border: green solid;
}

.bottom {

}

.selection {
    height: 100px;
    border: deeppink solid;
}

.footer_2 {
    height: 50px;
    border: yellowgreen solid;
}

.aside {
    border: cyan solid;
    box-sizing: border-box;
}